@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');



.logo-text {
    font-family: 'Lacquer', sans-serif;
}

.nav-items{
    font-family: 'Indie Flower', cursive;
}

.carousel-image{
    height: 85vh;
}

.home-cards {
    margin-top: 25px;
}

.mt-50{
    margin-top: 50px;
}
